.carrousel
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    position: relative

.carrousel-picture
    width: 100%
    height: 500px
    border-radius: 20px
    object-fit: cover
    object-position: center

.arrow
    position: absolute

.arrow-right
    right: 15px

.arrow-left
    left: 15px

.carrousel-index
    position: absolute
    bottom: 1%
    color: white
    font-size: 20px
    font-weight: 500
    font-family: Montserrat
