.footer
    background: black
    display: flex
    justify-content: center
    flex-direction: column
    padding: 20px 0 0 10px
.footer p
    color: white
    display: flex
    justify-content: center

#logo-footer
    height: 50px
