.appartement-title,.appartement-location,.host
    color: #FF6060
    font-family: Montserrat
    margin: 0
    padding: 0

.appartement-title
    font-size: 36px

.appartement-title p, .appartement-location p
    margin: 18px 0 18px 0

.appartement-location,.host
    font-size: 18px

.host
    display: flex
    margin-top: 18px

.host img
    border-radius: 100px
    width: 64px
    height: 64px

.host p
    padding-right: 15px

.appartement-line1, .appartement-line2
    display: flex
    justify-content: space-between

.appartement-line2
    align-items: center

.tag
    font-family: Montserrat
    background-color: #FF6060
    padding: 10px 30px 10px 30px
    border-radius: 20px
    color: white
    margin-right: 10px

.tags
    display: flex
    margin-top: 18px

.fa-solid
    font-size: 32px
