body
    margin: 0

.second-container
    margin: 0 200px 0 200px

@media ( max-width: 1440px  )
    .second-container
        margin: 0 25px 0 25px

@media ( max-width: 801px  )
    .second-container
        margin: 0 25px 0 25px
